.settings-container{
    background-color: #1C489D;
    min-height: 100vh;
}

.settings-h1{
    color: #fff;
    text-align: center;
}

.information-about-app {
    margin-top: 40px;
    color: white;
    font-size: 20pt;
}

.information-about-app p {
    line-height: 3em;
}

.container-with-divs {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.information-about-app-user {
    margin-top: 40px;
    color: white;
    font-size: 20pt;
}

.form-from-settings {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.information-about-app-user button {
    background-color: rgb(0, 3, 194);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.information-about-app-user p {
    line-height: 3em;
}