.table-of-grades{
    background-color: rgb(196, 196, 196);
    text-align: center;
    border: solid rgb(167, 167, 167) 1px;
    min-height: 90px;
    border-collapse: collapse;
    margin: auto;
}
.marks-table-th, .marks-table-td{
    border: solid rgb(99, 98, 98) 1px;
    min-width: 120px;
}

.table-marks-hr {
    margin-top: 50px;
}


@media (max-width: 915px) {
    .marks-table-tr {
        display: flex;
        flex-direction: column;
    }
  }